<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">

    <Properties>
        <Property name="log-path">.</Property>
    </Properties>

    <!-- Appenders (writing to file in various ways) -->
    <Appenders>
        <RollingFile name="INTERNAL"
                     fileName="${log-path}/sfbreader.log"
                     filePattern="${log-path}/sfbreader-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout> <!-- %c{1} -->
                <!--<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%-5level] [%t] %c %m%n</pattern>-->
                <pattern>%m%n</pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="50"/>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Logger name="se.fk" level="TRACE" />
        <Logger name="org.antlr" level="WARN" />
        <Logger name="org.apache" level="WARN" />

        <Root level="DEBUG">
            <appender-ref ref="INTERNAL"/>
        </Root>
    </Loggers>
</Configuration>
